.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 90vh;
}

p {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: justify;
}

br
{   
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5em !important;
}

.App-link {
  color: #61dafb;
}

.particles-js {
  background: center center cover no-repeat fixed;
  background-color: #282c34;
  height: 110vh;
  position: fixed;
  width: 120vw;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}